<div class="container-fluid tree-background">
    <div class="row full-screen-row overlay">
        <div style="text-align: center">
            <h2>Investing Basics</h2>
        </div>
        <div class="col-md-8 col-md-offset-2 overlay">
            <h4>Intro</h4>
            <p>To many people, investing seems like something that only the super rich can afford to do.
                Between advisors, the actual investment costs, and all the fees, many people believe that they cannot afford to invest.
                To others, there is a fear of investing in medium-high risk options like stocks.
                <br> <br>
                The truth is, investing is relatively easy, and not as scary or costly as one might think.
                <br><br>
                Here are a few tips to start investing and managing your money better, along with some external sources to read.
            </p>
            <br>

            <h4>Basics</h4>
            <p>The main idea behind investing is to beat inflation. If you aren't beating inflation, your money will slowly deteriorate in value.
                The average inflation rate in America has historically been anywhere from 2-4%. 
            </p>
            <p>There are many investment options you can choose from.
                <br>
                Among them are:
            </p>
            <ul>
                <li>Stocks</li>
                <li>Bonds</li>
                <li>Municipal Bonds</li>
                <li>Mutual Funds</li>
                <li>Exchange-Traded Funds (ETFs)</li>
                <li>Certificates of Deposit (CDs)</li>
                <li>401k</li>
                <li>IRAs (Roth or Traditional)</li>
            </ul>
            <p>If you do not know anything about any of these, don't fear! You can read about each of them here (link)</p>
            <br>
            <p>The good news is that there is no right or wrong way to invest other than not investing at all.
                The basic idea behind minimizing risk and maximizing growth are as follows
            </p>
            <ul>
                <li>First, save up at least 6 months of expenses</li>
                <li>Then start by adding to your portfolio on a regular basis</li>
                <li>Spread your money amongs different investments/investment types to minimize risk</li>
                <li>Balance your portfolio at least once a year to compensate for gains/losses.</li>
                <li>Reinvest the interest gained to take advantage of compound interest.</li>
            </ul>
            <p>
                This outline is very basic and should by no means be the extent of your knowledge before you start investing.
                You should always have at least 6 months of expenses (food, rent, gas, etc.) on hand at any time. This is so that
                if something bad happens, you have an emergency fund that you can dip into before you have to start taking from
                your actual investments.
                <br><br>
                After this, there are many good investment options to choose from to create a diversified portfolio.
                You should always regularly deposit some portion of your income directly into your portfolio, somewhere between 10 and 20%.
                You should also always build your portfolio around the level of risk you're able to handle. In other words,
                how willing are you to lose money?
                <br><br>
                Once you've decided on how to diversify your portfolio, the next step is to rebalance it occasionally to compensate
                for any gains or losses you have occured. For example, if you've decided on a 30/70 split between stocks and CDs
                and your stocks do well, you may end up with something like 24/76. Balancing your portfolio has the same idea behind
                it as diversification, prevent all your eggs from being in one basket.
                <br><br>
                Lastly, take a look at our Interest calculator to see the advantage behind compound interest.
            </p>
        </div>
    </div>
</div>
<footer></footer>
