<nav class="navbar navbar-default" style="margin: 0px">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img src="ico.png" alt="logo" class="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a routerLink="banking" routerLinkActive="active">Personal Banking</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!authService.hasToken"><a routerLink="login" routerLinkActive="active">Login</a></li>
            <li *ngIf="!authService.hasToken"><a routerLink="register" routerLinkActive="active">Register</a></li>
            <li *ngIf="authService.hasToken"><a routerLink="profile" routerLinkActive="active">Profile</a></li>
            <li *ngIf="authService.hasToken"><a routerLink="logout" routerLinkActive="active">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
</nav>
<div class="container-fluid tree-background">
    <div class="row full-screen-row overlay">
        <router-outlet></router-outlet>
    </div>
</div>
