<div class="container-fluid tree-background">
    <div class="row full-screen-row overlay">
        <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend class="centerWhite">Can I Afford It?</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="incomeInput">Monthly Income</label>  
              <div class="col-md-4">
              <input (keyup)="onKey($event)" id="incomeInput" name="incomeInput" type="text" placeholder="0" class="form-control input-md" required="">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="inputSavings">Savings</label>  
              <div class="col-md-4">
                  <input (keyup)="onKey($event)" id="inputSavings" name="inputSavings" type="text" placeholder="0" class="form-control input-md" required="">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="expenseInput">Monthly Expenses</label>  
              <div class="col-md-4">
              <input (keyup)="onKey($event)" id="expenseInput" name="expenseInput" type="text" placeholder="0" class="form-control input-md" required="">
                
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="affordInput">Purchase Amount</label>  
              <div class="col-md-4">
              <input (keyup)="onKey($event)" id="affordInput" name="affordInput" type="text" placeholder="0" class="form-control input-md" required="">
                
              </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="btnSubmit"></label>
              <div class="col-md-8">
                <button (click)="canAfford($event)" id="btnSubmit" name="btnSubmit" class="btn btn-success">Submit</button>
                <button id="btnReset" name="btnReset" class="btn btn-danger">Reset</button>
              </div>
            </div>

            </fieldset>
            </form>
    </div>
</div>
<footer></footer>
