<div class="container-fluid">
    <div class="row" style="background: #B7D44C;height:90vh">
        <h1 style="text-align: center;  color: #F4F3F1;">Can I Afford it?</h1>
        <p style="text-align: center;">(basically just mint.com)</p>
        <div style="text-align: center;">

            <button class="btn btn-default" type="submit">Guest</button>
            <button class="btn btn-default" type="submit">Login</button>

        </div>
    </div>
    <div class="row" style="text-align:center;background:black;  overflow:hidden;">
        <p style="color:white;">
        Can I Afford It?<br>
        2017
        </p>
    </div>
</div>