<div class="container-fluid tree-background">
    <div class="row full-screen-row overlay">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend class="centerWhite">Annual Compound Interest Calculator</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="principalInput">Principal $</label>  
                        <div class="col-md-4">
                            <input (keyup)="onKey($event)" id="principalInput" name="principalInput" type="text" placeholder="0" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="additionInput">Yearly contribution $</label>  
                        <div class="col-md-4">
                            <input (keyup)="onKey($event)" id="additionInput" name="additionInput" type="text" placeholder="0" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="rateInput">Rate %</label>  
                        <div class="col-md-4">
                            <input (keyup)="onKey($event)" id="rateInput" name="rateInput" type="text" placeholder="0" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="yearsInput">Time (years)</label>  
                        <div class="col-md-4">
                            <input (keyup)="onKey($event)" id="yearsInput" name="yearsInput" type="text" placeholder="0" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btnSubmitInterest"></label>
                        <div class="col-md-8">
                            <button (click)="calculateInterest()" type="button" id="btnSubmitInterest" name="btnSubmitInterest" class="btn btn-success">Submit</button>
                            <button id="btnCancelInterest" name="btnCancelInterest" class="btn btn-danger">Reset</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
    <div class="row overlay" *ngIf="displayChart">
        <div class="col-md-6 col-md-offset-3">
            <div>
                <div style="display: block">
                    <canvas baseChart
                            [datasets]="datasets"
                            [labels]="labels"
                            [options]="options"
                            [legend]="barChartLegend"
                            [colors]="chartColors"
                            [chartType]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>