<div class="container-fluid tree-background">
    <div class="row full-screen-row overlay">
        <h1>Profile</h1>
        <div class="col-md-12">
            <h2>Personal Information</h2>
            <strong>Name: {{ profile.firstName }} {{ profile.lastName }}</strong><br>
            Edit 
            
            <form>
                
            </form>
        </div>
        <div class="col-md-6">

            <div class="col-md-6">
                <h2>Income</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let incomeRow of profile.income">
                            <td>{{ incomeRow.income_name }}</td>
                            <td>{{ incomeRow.income_amount }}</td>
                        </tr>
                    </tbody>
                </table>
                <span id="addExpense" (click)="displayIncomeForm()">
                    +Add Income
                </span>
                <form [formGroup]="incomeForm" *ngIf="showIncomeForm" (ngSubmit)="onIncomeSubmit()"> 
                    <div class="form-group">
                        <label for="incomeCategory">Category</label>
                        <input type="text" class="form-control" id="incomeCategory" formControlName="incomeCategory" required>
                        <div *ngIf="formErrors.incomeCategory" class="alert alert-danger">
                            {{ formErrors.incomeCategory }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="incomeAmount">Amount</label>
                        <input type="text" class="form-control" id="incomeAmount" formControlName="incomeAmount" required>
                        <div *ngIf="formErrors.incomeAmount" class="alert alert-danger">
                            {{ formErrors.incomeAmount }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!incomeForm.valid">Add</button>
                    <button type="button" (click)="cancelIncome()" class="btn btn-danger">Cancel</button>
                </form>
                <h2>Expenses</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expenseRow of profile.expenses">
                            <td>{{ expenseRow.expense_name }}</td>
                            <td>{{ expenseRow.expense_amount }}</td>
                        </tr>
                    </tbody>
                </table>
                <span id="addExpense" (click)="displayExpenseForm()">
                    +Add Expense
                </span>
                <form [formGroup]="expenseForm" *ngIf="showExpenseForm" (ngSubmit)="onExpenseSubmit()"> 
                    <div class="form-group">
                        <label for="expenseCategory">Category</label>
                        <input type="text" class="form-control" id="expenseCategory" formControlName="expenseCategory" required>
                        <div *ngIf="formErrors.expenseCategory" class="alert alert-danger">
                            {{ formErrors.expenseCategory }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="expenseAmount">Amount</label>
                        <input type="text" class="form-control" id="expenseAmount" formControlName="expenseAmount" required>
                        <div *ngIf="formErrors.expenseAmount" class="alert alert-danger">
                            {{ formErrors.expenseAmount }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!expenseForm.valid">Add</button>
                    <button type="button" (click)="cancelExpense()" class="btn btn-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer></footer>
