<div class="container-fluid tree-background">
    <div class="row full-screen-row overlay">
        <h1>Welcome, {{ profile.firstName }} {{ profile.lastName }}</h1>
        <div class="col-md-6">
            <span>
                <strong>Email:</strong> {{ profile.email }}<br>
                <strong>Savings:</strong> {{profile.savings}}<br>
            </span>

            <form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit()" *ngIf="showProfileForm" class="col-md-4">

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
                    <div *ngIf="formErrors.firstName" class="alert alert-danger">
                        {{ formErrors.incomeCategory }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" required>
                    <div *ngIf="formErrors.lastName" class="alert alert-danger">
                        {{ formErrors.lastName }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="savings">Savings</label>
                    <input type="number" class="form-control" id="savings" formControlName="savings" required>
                    <div *ngIf="formErrors.savings" class="alert alert-danger">
                        {{ formErrors.savings }}
                    </div>
                </div>

                <button type="submit" class="btn btn-success" [disabled]="!profileForm.valid">Save</button>
                <button type="button" (click)="cancelEditProfile()" class="btn btn-warning">Cancel</button>
            </form>
            <div id="addExpense" (click)="displayProfileForm()" *ngIf="!showProfileForm">    
                Edit Profile
            </div>

            <div class="row">
                <div class="col-md-3"><h2>Points</h2></div>
                <div class="col-md-3"><h2>1000</h2></div>
            </div>
            <div class="row">
                <input type="button" value="Redeem" class="btn btn-success" (click)="redirect()">
            </div>

    </div>
</div>
