h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body{
    height:100vh;
    background-color: #B7D44C;
}
.logo{
    height:100%;
}
a.navbar-brand{
    padding:0;
}
html{
    min-height:100%;
}
.tree-background {
    background: url("/cir_animacion_1.jpg");
    background-position: 60% 50%;
}
.header {
    color: orangered;
    font-size: 80px;
    text-align: center;
}
.full-screen-row {
    height: 90vh;
    padding: 10px;
}

.overlay{
    background-color: rgba(255,255,255,0.6)
    
}