<div class="container-fluid tree-background">
    <div class="row full-screen-row overlay">
    <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Login</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinputEmail">Email</label>  
  <div class="col-md-4">
  <input id="textinputEmail" name="textinputEmail" type="text" placeholder="email@domain.com" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput1">Password</label>
  <div class="col-md-4">
    <input id="passwordinput1" name="passwordinput1" type="password" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="buttonLogin"></label>
  <div class="col-md-8">
    <button id="buttonLogin" name="buttonLogin" class="btn btn-success">Login</button>
  </div>
</div>

</fieldset>
</form>

    </div>
</div>
<footer></footer>
